Credentials are: <%= @cred_string %>
<hr/>
<form action="check_password" method="get">
  <input type="text" name="user" placeholder="Enter User ID"/>
  <input type="text" name="pass" placeholder="Enter Password"/>
  <input type="submit" value="Login"/>
</form>
<br>
Username is: <%= @user_name %><br>
Password is: <%= @password %>
